name: Run Docker Compose

# Trigger the workflow on push and pull request events
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  docker-compose:
    runs-on: self-hosted

    steps:
    # Step 1: Checkout the code
    - name: Checkout code
      uses: actions/checkout@v3
      
    # Step 2: Build and run Docker Compose
    - name: Run Docker Compose
      run: |
        docker compose up --build -d
      env: 
        MYSQLCONNSTR_LOCALDB: ${{ secrets.MYSQLCONNSTR_LOCALDB }}
        MYSQL_ROOT_PASSWORD: ${{ secrets.MYSQL_ROOT_PASSWORD }}
        REACT_APP_API_URL: ${{ secrets.REACT_APP_API_URL }}
        HTTPS: ${{ vars.HTTPS }}
        DB_VOLUME_PATH: ${{ vars.DB_VOLUME_PATH }}

    # Step 3: Verify the services are running (Optional)
    - name: Verify Services
      run: |
        docker ps
